.about-us {
  grid-column-start: 1;
  grid-column-end: 2;
  padding-top: 249px;

  @media (max-width: $tablet-max-width) {
    padding-top: 25px;
    margin-bottom: 70px;
    background-color: $header-background;
  }

  @media (max-width: $tablet-max-width) {
    min-height: 340px;
    background-image: url("../img/bike-background-desktop.jpg");// десктопный фон до 768 включительно, чтобы качество не страдало
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 25px 22px;

    @media(min-resolution: 2dppx) {
      background-image: url("../img/bike-background-desktop@2x.jpg");
    }
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 70px;
    min-height: 390px;
    padding: 25px 17px;
    background-image: url("../img/bike-background-tablet.jpg");

    @media(min-resolution: 2dppx) {
      background-image: url("../img/bike-background-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-min-width) {
    background-image: url("../img/bike-background-mobile.jpg");

    @media(min-resolution: 2dppx) {
      background-image: url("../img/bike-background-mobile@2x.jpg");
    }
  }
}

.about-us a {
  display: inline-block;
  margin-bottom: 27px;
  vertical-align: inherit;
  cursor: auto;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 86px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 72px;
  }
}

.about-us p {
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;
  color: $basic-white;
  margin: 0 0 25px 0;

  @media (max-width: $tablet-max-width) {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 19px;
  }
}

.about-us span {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  mix-blend-mode: normal;
  color: $basic-white;
  opacity: 0.8;

  @media (max-width: $tablet-max-width) {
    font-size: 18px;
  }
}

.about-us__text-wrapper {
  margin-bottom: 239px;

  @media (max-width: $tablet-max-width) {
    text-align: center;
    max-width: 436px;
    margin: 0 auto 55px auto;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 45px;
  }
}
