.contacts {
  max-width: 997px;
  padding: 151px 20px 0 20px;
  margin: 0 auto;
  min-height: 1002px;

  @media (max-width: $tablet-max-width) {
    max-width: 768px;
    padding: 70px 35px 0 35px;
    min-height: 814px;

    & iframe {
      max-width: 698px;
      width: 100%;
      height: 545px;
    }
  }

  @media (max-width: $mobile-max-width) {
    padding: 71px 0 0 0;
    min-height: 633px;

    & iframe {
      max-width: 100%;
      width: 100%;
      height: 250px;
    }
  }
}


.contacts iframe {
  margin-bottom: 35px;

  @media (max-width: $tablet-max-width) {
      max-width: 698px;
      width: 100%;
      height: 545px;
      margin-bottom: 17px;
  }

  @media (max-width: $mobile-max-width) {
      max-width: 100%;
      width: 100%;
      height: 250px;
      margin-bottom: 26px;
  }
}

.contacts h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;
  color: $footer-heading;
  margin: 0 0 29px 0;

  @media (max-width: $tablet-max-width) {
    font-size: 24px;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.contacts p {
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: rgba($basic-black, 0.7);
  margin: 0;
}

.contacts__address {
  max-width: 555px;
  margin: 0 auto 41px auto;

  @media (max-width: $tablet-max-width) {
    max-width: none;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0 25px;
  }
}

.contacts__list {
  list-style: none;
  max-width: 564px;
  margin: 0 auto 98px auto;
  padding: 0 17px 0 0;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-max-width) {
    max-width: 559px;
    padding-right: 12px;
    margin-bottom: 55px;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    align-items: center;
  }
}

.contacts__item a {
  display: flex;
}

.contacts__item svg {
  margin-right: 15px;
}

.contacts__item span {
  color: rgba($basic-black, 0.5);
}

.contacts__item--mail {
  padding-top: 3px;

  @media (max-width: $mobile-max-width) {
    padding-left: 19px;
    margin-bottom: 22px;
  }
}

.contacts__item--phone span {
  padding-top: 4px;
}
