.facts {

  @media (max-width: $tablet-max-width) {
    padding: 0 11.85%;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0 15px;
  }
}

.facts h2 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $facts-heading;
  margin: 0 0 49px 0;

  @media (max-width: $tablet-max-width) {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 30px;
  }
}

.facts__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    align-items: center;
  }
}

.facts__item {
  //max-width: 263px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 300px;
  flex-basis: 263px;
  flex-grow: 1;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-max-width) {
    flex-basis: auto;
  }
}

.facts__item span {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -1.27273px;
  color: $basic-accent;
  display: inline-block;
  margin: 0 0 15px 0;
}

.facts__item--assortment span {
  margin-bottom: 17px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 18px;
  }
}

.facts__item--accessories span {

  @media (max-width: $tablet-max-width) {
    margin-bottom: 15px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 8px;
  }
}

.facts__item--consulting span {

  @media (max-width: $tablet-max-width) {
    margin-bottom: 14px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 8px;
  }
}

@media (max-width: $mobile-max-width) {

  .facts__item {
    margin-bottom: 46px;

    & span {
      margin-bottom: 8px;
    }
  }

  .facts__item--assortment {
    margin-bottom: 37px;

    & span {
      margin-bottom: 17px;
    }
  }
}

.facts__item p {
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $basic-black;
  text-align: center;
  margin: 0;

  @media (max-width: $mobile-max-width) {
    font-size: 18px;
  }
}


.facts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 263px;
}
