.page-header {
  background-color: $header-background;
  margin-bottom: 151px;

  @media (max-width: $tablet-max-width) {
    background-color: $basic-white;
    margin-bottom: 70px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 71px;
  }
}

.page-header__wrapper {
  background-image: url("../../img/bike-background-desktop.jpg"), url(".././img/bike-background-desktop.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 825px;
  position: relative;

  @media (max-width: $tablet-max-width) {
    background-image: none;
    min-height: 683px;
  }
}

.page-header__wrapper-about {
  display: grid;
  grid-template-columns: 45% 55%;
  max-width: 920px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: $tablet-max-width) {
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: none;
  }
}
