// ----- Colors
$basic-black: #000000;
$basic-white: #FFFFFF;
$basic-accent: #0AD9C6;
$header-background: #0d0d0d;
$header-background-mobile: #1c1c1c;
$placeholder-color: rgba(#1C1C1C, 0.5);
$input-border: #C9CCD4;
$mobile-menu-text: #48494D;
$mobile-menu--item-background: #F6F6F6;

// ----- Adaptive
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1023px;
$desktop-width: 1024px;
